*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Comfortaa', cursive;
    background-color: #F6E6E4;
}


.form{
    width: 450px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    background-color: #FFAAA7;
    /* background: rgb(84, 99, 255); */
    border-radius: 5px;
}
.titulo{
    color: black;
    margin-bottom: 20px;
}
.cajas{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;

}
.clover {
    color: black;
    height: 200px;
    background-color: #FFD3B4;
}
.btn{
    width: 100%;
    padding: 15px;
    border-radius: 2px;
    border: none;
    margin: 20px 0;
    font-size: 15px;
    background: #FFD3B4;
    color: black;


}

.tengo-cuenta{
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.navbar-brand {
    background-color: #FFD3B4;
    margin-right: 80rem;
    margin-left: 2rem;
}
.nav-link {
    color: black;
}
.nav-link:hover  {
    color: black;
}
