.navbar-brand {
    margin-right: 0rem;
    margin-left: 2rem;
}
.nav-link {
    color: black;
}
.nav-link:hover {
    color: black;
}
.clover {
    color: black;
    height: 200px;
    background-color: #FFD3B4;
}
.nav-link.active{
    margin-left: 15px;
}

body{
    margin: 0px;
    font-family: 'Comfortaa', cursive;
    background-color: #F6E6E4;
}
.cover-small {
    height: 200px;
    background-blend-mode: normal;
}
.card {
    border-color:#FFAAA7 ;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0), 0 4px 6px -1px rgba(0, 0, 0, 0);
    display: flex;
}
.btn-primary {
    background-color: #FFD3B4;
    color: black;
    border-color: #FFD3B4;
}
.btn-primary:hover {
    background-color: #FFD3B4;
    color: black;
    border-color: #FFD3B4;
}
.card-body {
    background-color: #FFAAA7;
    border-color: #FFAAA7;
}

.col-3 {
    text-decoration: none;
}

td{
    padding-left: 20px;
}
h1{
    padding-left: 20px;
    padding-top: 20px;
}
.form button {
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
section {
    background-color: #F6E6E4;
}
body {
    background-color: #F6E6E4;
}
