.navbar-brand {
    margin-right: 2rem;
    margin-left: 2rem;
}
.nav-link {
    color: white;
}
body{
    margin: 0px;
    font-family: 'Comfortaa', cursive;
}
.cover-small {
    height: 200px;
    background-blend-mode: normal;
}
.card {
    border-color:cornflowerblue ;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0, 1), 0 4px 6px -1px rgba(0, 0, 0, 0, 1);
    display: flex;
}

.btn-warning {
    color: white;
    background-color: #5463FF;
    border-color: #5463FF;
}
.col-3 {
    text-decoration: none;
}
.clover {
    color: white;
    height: 200px;
    background-color: #5463FF;
}